* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  background-color: black;
}
/*Hidden elements*/
#Cargando,
#Juego,
#Pausa {
  display: none;
}
#Pausa h1 {
  color: white;
}
#Menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("Sprites/Fondo/contra-cover-1640029943136.png");
}
.container {
  margin: auto;
  margin-left: 380px;
  width: 250px;
  height: auto;
  text-align: center;
  background: black;
  border-radius: 3px;
  position: absolute;
}

.container ul li {
  list-style: none;
}
.container ul li p {
  display: block;
  font-size: 60px;
  text-decoration: none;
  color: wheat;
  cursor: pointer;
}

.container:hover ul li p {
  color: black;
}

.container ul li p:hover {
  color: wheat;
  transform: scale(1.1);
  background: red;
  border: 1px solid red;
}

.title {
  font-size: 35px;
  color: #fff;
  font-family: "Lobster";
  margin: auto;
  margin-top: 120px;
  margin-left: 265px;
}
.Juego {
  display: none;
}
#Cargando {
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Lobster";
  font-size: 2rem;
}
#Juego {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
#Narrativa {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
#Narrativa .title {
  background-color: red;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Narrativa .content {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
}
#Narrativa .content .img {
  width: 50%;
  height: 100%;
}
#Narrativa .content .history {
  width: 50%;
  height: 100%;
}
#Narrativa #Next {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
